/*-------------------------------------------*\
    Page Header Container
\*-------------------------------------------*/
.header-container {
    min-width: 100vw;
    max-width: 100vw;
    min-height: 4.3vh;
    max-height: 4.3vh;
    background: #525353;
    border: 0.0625vw solid rgb(255, 255, 255, 0.25);
    display: flex;
    justify-content: space-between;
    z-index: 1000;
    position: relative;
}

/*-------------------------------------------*\
    Left Side Page Header
\*-------------------------------------------*/

.container-flex-start {
    display: flex;
}

/*-------------------------------------------*\
    Classiai Logo
\*-------------------------------------------*/

.logo-container {
    min-width: 2.15vw;
    max-width: 2.15vw;
}

.position-absolute {
    position: absolute;
}

.logo,
.utility-icon-light {
    min-width: 1.6vw;
    max-width: 1.6vw;
    min-height: inherit;
    max-height: inherit;
    padding: 0.32vw;
}

/*-------------------------------------------*\
    Navigations
\*-------------------------------------------*/

.link {
    text-decoration: none;
    color: white;
}

.active-link {
    background: #383535;
}

.btn-container {
    min-height: 4.36vh;
    max-height: 4.36vh;
    font-size: 2vh;
    background: #525353;
    border-left: 0.0625vw solid rgb(255, 255, 255, 0.25);
    cursor: pointer;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 0 1.5vw;
    &:hover {
        background: #383535;
    }
}

.last-btn-container {
    border-right: 0.0625vw solid rgb(255, 255, 255, 0.25);
}

.label {
    white-space: nowrap;
    border: none;
    color: white;
    cursor: pointer;
}

/*-------------------------------------------*\
    Right Side Page Header
\*-------------------------------------------*/

.container-flex-end {
    display: flex;
    // min-width: 6.5vw;
    // max-width: 6.5vw;
}

.utility-icon-container {
    display: flex;
    min-height: 3.4vh;
    max-height: 3.4vh;
}

// .img {
//     margin-left: 1.2vw;
// }

.utility-icon-light {
    cursor: pointer;
}

.utility-icon-light:active {
    background: rgb(105, 105, 105);
}

/*-------------------------------------------*\
    Tutorial Modal
\*-------------------------------------------*/

.tutorial-img {
    min-height: 40vh;
    max-height: 40vh;
    width: auto;
    margin-top: 1vh;
}

.tutorial-description {
    font-size: 2vh;
    color: white;
    text-align: center;
}

.next-btn,
.end-btn {
    background-color: #2d8ceb;
    margin: 0.5vh 0.5vw;
}

.prev-btn {
    background-color: #444444;
    margin: 0.5vh 0.5vw;
}

.modal-button-container {
    display: flex;
    flex-direction: row-reverse;
    padding: 0.5vw;
}

.button-style {
    padding: 1vh 1.5vw 1vh 1.5vw;
    border-radius: 1vh;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    font-size: 2vh;
}

.icon {
    width: 30px;
    height: 30px;
    vertical-align: middle;
    padding-left: 10px;
    padding-bottom: 3px;
}

.tutorial {
    box-shadow: 0 2px 7px 0 rgb(0, 0, 0, 0.2);
    width: 20vw;
    height: 8vh;
    line-height: 50px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    &:hover {
        background-color: #464a4e;
    }
    position: relative;
    z-index: 1000;
}

.tutorial-dropdown-menu {
    position: absolute;
    color: white;
    font-size: 2vh;
    top: 6vh;
    right: 2vw;
    background-color: #30353a;
    padding: 0.1rem;
    border-radius: 0.5rem;
    transform: translateY(-10px);
    transition: 150ms ease-in-out, transform 150ms ease-in-out;
    z-index: 1000;
}
