/*-------------------------------------------*\
    Page Header Container
\*-------------------------------------------*/
.header-container {
    min-width: 100vw;
    max-width: 100vw;
    min-height: 4.3vh;
    max-height: 4.3vh;
    background: #525353;
    border: 0.0625vw solid rgb(255, 255, 255, 0.25);
    display: flex;
    justify-content: space-between;
    z-index: 1000;
    position: relative;
}

/*-------------------------------------------*\
    Left Side Page Header
\*-------------------------------------------*/

.container-flex-start {
    display: flex;
}

/*-------------------------------------------*\
    Classiai Logo
\*-------------------------------------------*/

.logo-container {
    min-width: 2.15vw;
    max-width: 2.15vw;
}

.position-absolute {
    position: absolute;
}

.logo,
.utility-icon-light {
    min-width: 1.6vw;
    max-width: 1.6vw;
    min-height: inherit;
    max-height: inherit;
    padding: 0.32vw;
}

/*-------------------------------------------*\
    Navigations
\*-------------------------------------------*/

.link {
    text-decoration: none;
    color: white;
}

.active-link {
    background: #383535;
}

.btn-container {
    min-height: 4.36vh;
    max-height: 4.36vh;
    font-size: 2vh;
    background: #525353;
    border-left: 0.0625vw solid rgb(255, 255, 255, 0.25);
    cursor: pointer;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 0 1.5vw;
    &:hover {
        background: #383535;
    }
}

.last-btn-container {
    border-right: 0.0625vw solid rgb(255, 255, 255, 0.25);
}

.label {
    white-space: nowrap;
    border: none;
    color: white;
    cursor: pointer;
}

/*-------------------------------------------*\
    Right Side Page Header
\*-------------------------------------------*/

.container-flex-end {
    display: flex;
    // min-width: 6.5vw;
    // max-width: 6.5vw;
}

.utility-icon-container {
    display: flex;
    min-height: 3.4vh;
    max-height: 3.4vh;
}

// .img {
//     margin-left: 1.2vw;
// }

.utility-icon-light {
    cursor: pointer;
}

.utility-icon-light:active {
    background: rgb(105, 105, 105);
}

/*-------------------------------------------*\
    Tutorial Modal
\*-------------------------------------------*/

.tutorial-img {
    min-height: 40vh;
    max-height: 40vh;
    width: auto;
    margin-top: 1vh;
}

.tutorial-description {
    font-size: 2vh;
    color: white;
    text-align: center;
}

.next-btn,
.end-btn {
    background-color: #2d8ceb;
    margin: 0.5vh 0.5vw;
}

.prev-btn {
    background-color: #444444;
    margin: 0.5vh 0.5vw;
}

.modal-button-container {
    display: flex;
    flex-direction: row-reverse;
    padding: 0.5vw;
}

.button-style {
    padding: 1vh 1.5vw 1vh 1.5vw;
    border-radius: 1vh;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    font-size: 2vh;
}

.icon {
    width: 30px;
    height: 30px;
    vertical-align: middle;
    padding-left: 10px;
    padding-bottom: 3px;
}

.tutorial {
    box-shadow: 0 2px 7px 0 rgb(0, 0, 0, 0.2);
    line-height: 50px;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
    cursor: pointer;
    &:hover {
        background-color: #464a4e;
    }
    position: relative;
    z-index: 1000;
    vertical-align: center;
}

.tutorial-dropdown-menu {
    position: absolute;
    color: white;
    font-size: 2vh;
    top: 6vh;
    right: 2vw;
    background-color: #30353a;
    padding: 0.1rem;
    border-radius: 0.5rem;
    transform: translateY(-10px);
    transition: 150ms ease-in-out, transform 150ms ease-in-out;
    z-index: 1000;
    overflow: hidden auto;
    max-height: 50vh;
}

.project-settings-container {
    position: absolute;
    display: flex;
    flex-direction: row;
    min-width: 60vw;
    max-width: 60vw;
    min-height: 60vh;
    max-height: 60vh;
}

.project-settings-container::-webkit-scrollbar {
    width: 20px;
    height: 20px;
}

.project-settings-container::-webkit-scrollbar-track {
    width: 30px;
    background-color: transparent;
}

.project-settings-container::-webkit-scrollbar-thumb {
    border: 6px solid transparent;
    background-color: #708090;
    border-radius: 20px;
    background-clip: content-box;
}

.table-container {
    position: relative;
    min-width: 35vw;
    max-width: 35vw;
    min-height: 60vh;
    max-height: 60vh;
}

.data-table {
    position: relative;
    border-collapse: collapse;
    min-width: 32vw;
    max-width: 32vw;
    min-height: 4vh;
    max-height: 4vh;
    font-size: 1.6vh;
    margin-top: 10px;
    border: 0.0625vw solid rgba(255, 255, 255, 0.5);
    margin-left: 1.2vw;
}

.data-table,
th,
td {
    border: 0.0625vw solid rgba(255, 255, 255, 0.5);
    text-align: center;
}

.data-table tr {
    background-color: #545454;
    color: white;
    font-weight: bold;
}

.data-table tr th {
    background-color: #545454;
    color: white;
    font-weight: bold;
    width: 8vw;
    height: 3vh;
    text-align: left;
    text-indent: 10px;
}

.data-table tr td {
    background-color: #eeeeee;
    width: 10vw;
    height: 3vh;
    color: black;
}

.data-table th,
.data-table td {
    vertical-align: middle;
    padding: 5px;
}

.input-shortcut-key {
    border: none;
    appearance: none;
    border-radius: 3px;
    background-color: #eeeeee;
    width: 12vw;
    padding: 3px;
    font-size: 2vh;
    text-align: center;
}

.features-form-container {
    position: relative;
    min-width: 20vw;
    max-width: 20vw;
    min-height: 50vh;
    max-height: 50vh;
    margin: 10px 0 0 2px;
    overflow-y: scroll;
}

.features-form-container::-webkit-scrollbar {
    width: 20px;
    height: 20px;
}

.features-form-container::-webkit-scrollbar-track {
    width: 30px;
    background-color: transparent;
}

.features-form-container::-webkit-scrollbar-thumb {
    border: 6px solid transparent;
    background-color: #708090;
    border-radius: 20px;
    background-clip: content-box;
}

.feature-label {
    font-size: 2vh;
    color: white;
}

.features-container {
    position: relative;
    margin: 1vh 0 0 3vw;
}

.feature-title-labels {
    margin: 5px 0 5px 10px;
    color: white;
    font-size: 2vh;
}

.shortcut-title {
    margin: 5px 0 5px 15px;
    color: white;
    font-size: 2vh;
}

.no-label-alert {
    margin: 25vh 0 0 12vw;
}

.table-inner-container {
    position: absolute;
    min-height: 52vh;
    max-height: 52vh;
    min-width: 35vw;
    max-width: 35vw;
    overflow-y: scroll;
}

.table-inner-container::-webkit-scrollbar {
    width: 20px;
    height: 20px;
}

.table-inner-container::-webkit-scrollbar-track {
    width: 30px;
    background-color: transparent;
}

.table-inner-container::-webkit-scrollbar-thumb {
    border: 6px solid transparent;
    background-color: #708090;
    border-radius: 20px;
    background-clip: content-box;
}
