<!-------------------------- Classifai Logo -------------------------->

<header class="flex-header header-container">
    <div class="div-header-container">
        <img class="header-img" [src]="headerImage" alt="Classifai logo" />
    </div>
</header>

<!-------------------------- Classifai Version -------------------------->

<div class="version-container">
    <div class="version-text">
        <p>Version: 2.0.0 alpha3</p>
    </div>
</div>

<!-------------------------- Translation Options -------------------------->

<div class="share" (mouseenter)="showLangOpts()" (mouseleave)="hideLangOpts()">
    <ul>
        <div class="toggle">{{ _translate.currentLang | languageSlice }}</div>
        <div *ngFor="let lang of languageArr">
            <li #languages *ngIf="lang !== _translate.currentLang" (click)="setLanguage(lang); hideLangOpts()">
                {{ lang | languageSlice }}
            </li>
        </div>
    </ul>
</div>
