<header class="flex-header header-container">
    <div class="div-header-container">
        <img class="header-img" [src]="headerImage" />
    </div>
</header>
<!-- <select #langSelect (change)="setLanguage(langSelect.value)" class="select-padding">
    <option *ngFor="let lang of languageArr" [value]="lang" [selected]="lang === _translate.currentLang">
        {{ lang | languageSlice }}
    </option>
</select> -->
<div class="share" (mouseenter)="showLangOpts()" (mouseleave)="hideLangOpts()">
    <ul>
        <div class="toggle">{{ _translate.currentLang | languageSlice }}</div>
        <li #one *ngFor="let lang of languageArr" (click)="setLanguage(lang); hideLangOpts()">
            {{ lang | languageSlice }}
        </li>
    </ul>
</div>
