<div class="tab-container">
    <ng-container *ngFor="let tab of _tabStatus; index as i">
        <ng-container *ngIf="i === 0; else nonThumbnailTab">
            <div
                class="utility-right-project-container tab flex-fill-remaining"
                [ngClass]="checkCloseToggle(tab)"
                [attr.data-index]="i"
            >
                <label class="tab-name">{{ tab.name | translate }}</label>
                <span class="tab-close-thumbnail"><div class="div-close" (click)="onClose(tab)">x</div></span>
                <section class="utility-inner-container tab-height scroll">
                    <ng-container *ngFor="let thumbnail of _thumbnailList; index as i">
                        <div class="img-container" (click)="onClick(thumbnail, i)">
                            <div>
                                <img imgLazyLoad class="img" [src]="thumbnail.img_thumbnail" />
                            </div>
                            <div class="img-name">
                                <label class="img-path">{{ thumbnail.img_path | fileNameSlice }}</label>
                            </div>
                            <div>
                                <div
                                    [ngClass]="
                                        thumbnail.bnd_box?.length > 0 || thumbnail.polygons?.length > 0
                                            ? 'indicator'
                                            : 'no-indicator'
                                    "
                                ></div>
                            </div>
                        </div>
                    </ng-container>
                </section>
            </div>
        </ng-container>

        <ng-template #nonThumbnailTab>
            <ng-container *ngIf="i === 1; else annotationTab">
                <div
                    class="utility-right-project-container tab flex-fill-remaining"
                    [attr.data-index]="i"
                    [ngClass]="checkCloseToggle(tab)"
                >
                    <label class="tab-name">{{ tab.name | translate }}</label>
                    <div class="flex-tab-icons">
                        <span class="tab-close-thumbnailless"
                            ><div class="div-close" (click)="onClose(tab)">x</div></span
                        >
                        <span class="tab-extra-icons"></span>
                        <span class="tab-extra-icons"> </span>
                    </div>
                    <div class="div-input">
                        <input
                            class="input"
                            [ngClass]="invalidInput ? 'input-invalid' : null"
                            type="text"
                            [(ngModel)]="inputLabel"
                            (ngModelChange)="inputLabelChange($event)"
                            (keydown.enter)="validateInputLabel($event)"
                            [placeholder]="'labellingProject.enterLabel' | translate"
                        />
                    </div>
                    <div class="utility-inner-container tab-height scroll" id="inner-container">
                        <div class="flex-item">
                            <ng-container *ngFor="let label of labelList; index as i">
                                <div
                                    class="flex-center-width"
                                    [ngClass]="label === selectedLabel ? 'label-active' : null"
                                >
                                    <label class="label">
                                        <div
                                            [ngClass]="clickAbilityToggle ? 'pointer' : null"
                                            (click)="clickAbilityToggle ? onClickLabel(label) : null"
                                        >
                                            {{ label }}
                                        </div>
                                    </label>
                                    <label class="action"
                                        ><ng-container *ngIf="!action && i > 0"
                                            ><span
                                                [ngClass]="clickAbilityToggle ? 'pointer' : null"
                                                (click)="onDeleteLabel(label)"
                                                >{{ 'labellingProject.delete' | translate }}</span
                                            ></ng-container
                                        ></label
                                    >
                                </div>
                            </ng-container>
                            <label *ngIf="labelList.length === 0" class="not-exist">
                                {{ 'labellingProject.labelNotExist' | translate }}
                            </label>
                        </div>
                    </div>
                </div>
            </ng-container>
            <ng-template #annotationTab>
                <div
                    class="utility-right-project-container tab flex-fill-remaining"
                    [attr.data-index]="i"
                    [ngClass]="checkCloseToggle(tab)"
                >
                    <label class="tab-name">{{ tab.name | translate }}</label>
                    <div class="flex-tab-icons">
                        <span class="tab-close-thumbnailless"
                            ><div class="div-close" (click)="onClose(tab)">x</div></span
                        >
                        <span class="tab-extra-icons"></span>
                        <span class="tab-extra-icons"></span>
                    </div>
                    <div class="utility-inner-container scroll tab-smaller-height" id="inner-container">
                        <div class="flex-item">
                            <div class="flex-center-width">
                                <ng-container *ngIf="tab?.annotation">
                                    <ng-container *ngFor="let annotation of tab.annotation">
                                        <ng-container *ngIf="annotation.bnd_box; else polygon">
                                            <ng-container *ngFor="let boundingBox of annotation.bnd_box; index as j">
                                                <label
                                                    class="label"
                                                    [attr.data-index]="j"
                                                    [ngClass]="
                                                        j === selectedIndexAnnotation ? 'annotation-active' : null
                                                    "
                                                    (click)="
                                                        clickAbilityToggle ? onClickAnnotation(j, boundingBox) : null
                                                    "
                                                >
                                                    <div [ngClass]="clickAbilityToggle ? 'pointer' : null">
                                                        {{ boundingBox.label }} : {{ boundingBox.id }}
                                                    </div>
                                                    <div
                                                        [ngClass]="clickAbilityToggle ? 'pointer' : null"
                                                        *ngIf="j === selectedIndexAnnotation"
                                                        (click)="onDeleteAnnotation()"
                                                        class="delete-annotation"
                                                    >
                                                        -
                                                    </div>
                                                </label>
                                            </ng-container>
                                        </ng-container>

                                        <ng-template #polygon>
                                            <ng-container *ngFor="let polygon of annotation.polygons; index as j">
                                                <label
                                                    class="label"
                                                    [attr.data-index]="j"
                                                    [ngClass]="
                                                        j === selectedIndexAnnotation ? 'annotation-active' : null
                                                    "
                                                    (click)="clickAbilityToggle ? onClickAnnotation(j, polygon) : null"
                                                >
                                                    <div [ngClass]="clickAbilityToggle ? 'pointer' : null">
                                                        {{ polygon.label }} : {{ polygon.id }}
                                                    </div>
                                                </label>
                                            </ng-container>
                                        </ng-template>
                                    </ng-container>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </ng-template>
    </ng-container>
</div>
