<div class="footer-container">
    <ng-container *ngIf="(_thumbnailInfo | json) != '{}'">
        <div class="footer-label-container">
            <div class="footer-label">{{ 'footer.size' | translate }}: {{ thumbnailSize }}</div>
            <ng-container *ngIf="thumbnailType">
                <div class="footer-label">{{ 'footer.image' | translate }}: {{ thumbnailType }}</div></ng-container
            >
            <div class="footer-label">{{ _thumbnailInfo.img_ori_w }} x {{ _thumbnailInfo.img_ori_h }}</div>
            <div class="footer-image-path" [title]="'footer.copyToClipboard' | translate">
                <label class="footer-path-label" (click)="copyMessage(_thumbnailInfo.img_path)">{{
                    _thumbnailInfo.img_path
                }}</label>
            </div>
        </div></ng-container
    >
</div>
