@use '../../../shared/scss/_ellipsis' as ellipsis;

.footer-container {
    position: absolute;
    background: #525353;
    outline: 0.0625vw inset white;
    border: none;
    min-height: 2.3vh;
    max-height: 2.3vh;
    min-width: 100vw;
    max-width: 100vw;
    bottom: 0;
    padding-left: 2.5vw;
}

.footer-label-container {
    display: flex;
    justify-content: center;
    align-items: baseline;
    width: 80%;
}

@mixin footer-texts($flex) {
    font-size: 1.6vh;
    color: white;
    flex: 0 1 $flex;
    outline: none;
    border-right: 0.05vw solid white;
    padding: 0 1vw 0 1vw;
}
.footer-label {
    @include footer-texts(15%);
    text-align: center;
}

.footer-image-path {
    @include footer-texts(130%);
    @include ellipsis.ellipsisStyling();
}

.border-right {
    border-right: 1rem white;
}
