@mixin icon-styling($pointer: pointer, $position: absolute, $height: 3vh) {
    min-width: 1.5vw;
    max-width: 1.5vw;
    min-height: $height;
    max-height: $height;
    padding: 0.3vw;
    position: $position;
    cursor: $pointer;
}
