<div>
    <!-------------------------- Label List Popup Container -------------------------->
    <div #floatdiv class="floatdiv unclosedOut" [hidden]="!showDropdownLabelBox">
        <!-------------------------- Label Search Input -------------------------->
        <form autocomplete="off" spellcheck="false" class="unclosedOut">
            <input
                #lbltypetxt
                type="text"
                class="lbltypetxt unclosedOut"
                [(ngModel)]="labelSearch"
                (ngModelChange)="labelTypeTextChange($event)"
                [ngModelOptions]="{ standalone: true }"
            />
        </form>
        <!-------------------------- Label List -------------------------->
        <div #availablelbl class="availablelbl unclosedOut">
            <ul class="lblList unclosedOut">
                <li
                    *ngFor="let label of labelList"
                    class="lblElement unclosedOut"
                    (click)="labelNameClicked(label.name)"
                >
                    <span class="lblName unclosedOut">{{ label.name }}</span>
                    <span class="lblCount unclosedOut">{{ label.count }}</span>
                </li>
                <li *ngIf="labelList.length === 0" class="unclosedOut notExist">
                    <div class="unclosedOut">{{ 'searchLabel.labelNotExist' | translate }}</div>
                    <div class="unclosedOut">{{ 'searchLabel.enterToAdd' | translate }}</div>
                </li>
            </ul>
        </div>
    </div>
    <!-------------------------- Canvas -------------------------->
    <canvas #canvasdrawing class="canvasstyle" [ngStyle]="{ cursor: currentCursor() }"></canvas>

    <!-------------------------- Yellow Guideline Cross -------------------------->
    <div #crossH id="cross-h" class="crosses"></div>
    <div #crossV id="cross-v" class="crosses"></div>
</div>
