.canvasstyle {
    position: fixed;
    left: 2.2vw;
    right: auto;
    top: 9.5vh;
    overflow: scroll;
    scrollbar-width: none;
    margin: 0px;
    padding: 0px;
    outline: none;
    border: none;
}
