$hoverBackground: #393838;

.dataset-header-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1vw;
    min-width: 80vw;
    max-width: 80vw;
}

.dropdown {
    background-color: rgb(53, 53, 53);
    border: black;
    color: white;
    font-size: 2vh;
    padding: 0.7vh 0.7vw;
}

.label {
    flex: 1 1 80vw;
    background: none;
    font-size: 2.5vh;
    color: white;
    white-space: nowrap;
    min-height: inherit;
    max-height: inherit;
}

.dataset-dropdown-container {
    display: flex;
}

.dropdown-title {
    flex: 1 1 80vw;
    background: none;
    font-size: 2.5vh;
    color: white;
    white-space: nowrap;
    padding-right: 0.5vw;
    min-height: inherit;
    max-height: inherit;
}

select {
    // background: $base64Arrow no-repeat 10vw;
    -moz-appearance: none;
    -webkit-appearance: none;
    // background-position: 12.1vh;
}

option {
    background: black;
    text-align: center;
}
