<div class="dataset-header-container">
    <label class="label" style="padding-right: 50vw">{{ 'datasetHeader.datasetManagement' | translate }}</label>
    <div class="dataset-dropdown-container" *ngIf="_enableSort">
        <label class="dropdown-title">Sort By: </label>
        <select class="dropdown" [value]="selectedOpt" (change)="onOptionsSelected(mySelect.value)" #mySelect>
            <option value="project_name">Project Name</option>
            <option value="created_date">Created Date</option>
            <option value="last_modified_date">Last Modified Date</option>
        </select>
    </div>
</div>
