<!-------------------------- Tabs Container -------------------------->

<div class="tab-container">
    <div class="utility-right-project-container flex-fill-remaining">
        <div class="utility-inner-container tab-height" style="overflow: hidden">
            <label class="tab-name">Annotations: </label>
            <div class="annotations-container">
                <div class="annotations-inner-container">
                    <div class="annotations"></div>
                </div>
            </div>
        </div>
    </div>
</div>
