.header-container {
    margin-top: 7.3vh;
    margin-left: 5vw;
    font-size: 2.3vh;
}

.layout-container {
    display: flex;
    flex-direction: row;
}

.container {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

#model-content {
    background-color: #fefefe;
    margin: auto;
    padding: 1vw;
    border: 1px solid #888;
    max-width: 30vw;
    min-width: 30vw;
    border-radius: 10px;
    margin-top: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: inset 0 0 1vh #000000;
}

#model {
    /* display: none; */
    position: fixed; /* Stay in place */
    z-index: 2; /*Sit on top*/
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    /* background-color: rgb(0,0,0);
  background-color: rgba(34, 19, 19, 0.8); */
    background-color: transparent;
    scrollbar-width: none;
    position: fixed;
    background: rgba(0, 0, 0, 0.7);
}
