<div *ngIf="isOverlayOn" class="overlay">
    <p style="margin-top: 40vh; color: rgb(255, 255, 255, 0.9); text-align: center; font-size: 3vh">
        {{ isImageUploading ? 'Uploading the Images. Please Wait...' : 'Selection Window is Opened' }}
    </p>
</div>
<page-header [_onChange]="onChangeSchema"></page-header>
<div class="upper-container">
    <data-set-side-menu (_onCreate)="toggleModalDisplay($event)" (_onImport)="importProject()"></data-set-side-menu>
    <div>
        <data-set-header></data-set-header>
        <data-set-card
            [_jsonSchema]="projectList"
            (_onClick)="onSubmit(false, $event)"
            (_onStarred)="onStarred($event)"
            (_onDelete)="deleteProject($event)"
            (_onRename)="toggleRenameModalDisplay($event)"
        ></data-set-card>
    </div>
</div>

<modal
    [id]="modalIdCreateProject"
    [modalBodyStyle]="createProjectModalBodyStyle"
    [modalTitle]="'createNewProject' | translate"
    [scrollable]="false"
>
    <form [formGroup]="form">
        <div class="content-container">
            <div class="new-project-container">
                <label class="label label-name">{{ 'newProjectName' | translate }} </label>
                <input
                    #refProjectName
                    class="input-style"
                    type="text"
                    placeholder="Enter project name"
                    formControlName="projectName"
                    [value]="inputProjectName"
                    (input)="onChange($event.target.value)"
                />
            </div>
            <ng-container
                *ngIf="form.get('projectName')?.touched && form.get('projectName')?.invalid; else emptycontainer"
            >
                <div class="validation">
                    <span *ngIf="form.get('projectName')?.getError('exist')">
                        <small class="error-create-msg"> {{ 'projectNameExist' | translate }} </small>
                    </span>
                    <span *ngIf="form.get('projectName')?.getError('required')">
                        <small class="error-create-msg"> {{ 'projectNameRequired' | translate }} </small>
                    </span>
                </div>
            </ng-container>
            <ng-template #emptycontainer>
                <div class="empty-container"></div>
            </ng-template>
            <br />
            <div class="select-folder-container">
                <label class="label label-select-folder">{{ 'projectFolder' | translate }}</label>
                <button class="button-style choose-folder-button" type="button" (click)="selectProjectFolder()">
                    {{ 'chooseFolder' | translate }}
                </button>
            </div>
            <div class="folder-name-container">
                <label class="foldername" #projectfoldername></label>
            </div>
            <br />
            <div class="select-file-container">
                <label class="label-select-label">
                    {{ 'labelListFile' | translate }}<br />
                    {{ 'optional' | translate }}:
                    <img
                        class="help-icon"
                        src="../../assets/icons/help.svg"
                        (mouseover)="showLabelTooltip = true"
                        (mouseout)="showLabelTooltip = false"
                    />
                </label>
                <span class="labeltooltiptext" *ngIf="showLabelTooltip">
                    <p>{{ 'labelFileDest1' | translate }}</p>
                    <p>{{ 'labelFileDest2' | translate }}</p>
                </span>
                <div style="padding-top: 1vh">
                    <button class="button-file-style choose-file-button" type="button" (click)="importLabelFile()">
                        {{ 'chooseFile' | translate }}
                    </button>
                </div>
            </div>
            <div class="file-name-container">
                <label class="filename" #labeltextfilename></label>
            </div>
            <div class="horizontal-line"></div>
            <div class="model-button-container">
                <button
                    class="button-style create-btn"
                    type="submit"
                    (click)="onSubmit(true)"
                    [ngClass]="isCreateFormIncomplete() ? 'disabled-create-btn' : null"
                    [disabled]="isCreateFormIncomplete()"
                >
                    {{ 'createButton' | translate }}
                </button>
            </div>
        </div>
    </form>
</modal>

<modal
    [id]="modalIdRenameProject"
    [modalBodyStyle]="renameProjectModalBodyStyle"
    [modalTitle]="'renameProject' | translate"
    [scrollable]="false"
>
    <form [formGroup]="renameForm">
        <div class="content-container">
            <div class="new-project-container">
                <label class="label">{{ 'newProjectName' | translate }} </label>
                <input
                    #refNewProjectName
                    class="input-style"
                    type="text"
                    placeholder="Enter new project name"
                    formControlName="newProjectName"
                    [value]="inputProjectName"
                    (input)="onChangeRename($event.target.value)"
                />
            </div>

            <ng-container *ngIf="renameForm.get('newProjectName')?.touched">
                <div class="validation-rename">
                    <span *ngIf="renameForm.get('newProjectName')?.getError('exist')">
                        <small class="error-msg"> {{ 'projectNameExist' | translate }} </small>
                    </span>
                    <span *ngIf="renameForm.get('newProjectName')?.getError('required')">
                        <small class="error-msg"> {{ 'projectNameRequired' | translate }} </small>
                    </span>
                </div>
            </ng-container>

            <div class="horizontal-line"></div>
            <div class="model-button-container">
                <button class="button-style create-btn" type="submit" (click)="onSubmitRename()">
                    {{ 'updateButton' | translate }}
                </button>
            </div>
        </div>
    </form>
</modal>

<modal
    [id]="modalIdImportProject"
    [modalBodyStyle]="importProjectModalBodyStyle"
    [modalTitle]="'menuName.importProject' | translate"
    [scrollable]="false"
>
    <br />
    <form [formGroup]="form">
        <div class="content-container">
            <div class="select-file-container">
                <label class="label-config">{{ 'importJson' | translate }} </label>
                <div class="help-icon-container">
                    <img class="help-icon" src="../../assets/icons/help.svg" />
                    <span class="tooltiptext">
                        <p>{{ 'configFileInfoDest1' | translate }}</p>
                        <p>{{ 'configFileInfoDest2' | translate }}</p>
                    </span>
                </div>
                <label class="choose-file-btn">
                    {{ 'chooseFile' | translate }}
                    <button class="input-id" type="button" (click)="onSelectImportProjectJson()">
                        {{ 'Import' }}
                    </button>
                </label>
                <label class="filename" #jsonImportProjectFilename></label>
            </div>
            <ng-container *ngIf="modalSpanMessage.trim()">
                <div [ngClass]="spanClass">
                    <span>
                        <small class="error-msg">{{ modalSpanMessage | translate }}{{ modalImportProjectName }}</small>
                    </span>
                </div>
            </ng-container>
            <div style="padding-bottom: 2vh"></div>
            <div class="horizontal-line"></div>
        </div>
    </form>
</modal>

<modal
    [id]="modalIdRenameSuccess"
    [modalBodyStyle]="renameSuccessBodyStyle"
    [modalTitle]="'renameProject' | translate"
    [scrollable]="false"
>
    <div class="modal-message-container">
        <div class="display-message-container">
            <p class="display-msg">
                {{ projectName }} {{ 'renameMsg' | translate }}
                <b class="validation-success">{{ 'success' | translate }}</b
                >!
            </p>
        </div>
    </div>
</modal>

<modal
    [id]="modalIdDeleteProject"
    [modalBodyStyle]="deleteProjectBodyStyle"
    [modalTitle]="'deleteProject' | translate"
    [scrollable]="false"
>
    <div class="modal-message-container">
        <div class="display-message-container">
            <p class="display-msg">
                {{ projectName }} {{ 'deleteMsg' | translate }}
                <b class="validation-success">{{ 'success' | translate }}</b
                >!
            </p>
        </div>
    </div>
</modal>

<unsupported-image-modal
    [_modalUnsupportedImage]="modalUnsupportedImage"
    [_unsupportedImageBodyStyle]="unsupportedImageBodyStyle"
    [_unsupportedImageList]="unsupportedImageList"
></unsupported-image-modal>

<spinner [_loading]="isLoading"></spinner>
