$fontSize: 2vh;

.upper-container {
    display: flex;
    margin-top: 5vh;
}

.model {
    position: fixed; /* Stay in place */
    z-index: 1000; /*Sit on top*/
    padding-top: 10vh; /* Location of the box */
    // left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: transparent;
    scrollbar-width: none;
    position: fixed;
    background: rgba(0, 0, 0, 0.7);
}

.model-content {
    background-color: #525353;
    margin: auto;
    padding: 1vw;
    border: solid;
    max-width: 30vw;
    min-width: 30vw;
    border-radius: 1vw;
    margin-top: 15vh;
    // min-height: 30vh;
    // max-height: 30vh;
}

.content-container {
    margin-left: 1.3vw;
}

.content-header {
    color: white;
    font-size: 3vh;
}

.new-project-container {
    display: flex;
    flex-direction: row;
    margin: 3vh 0 0 0;
    align-items: baseline;
}

.label {
    color: white;
    font-size: $fontSize;
    margin-right: 1vw;
}

.input-style {
    border-radius: 2vw;
    border: none;
    outline: none;
    background-color: #363636;
    min-width: 11vw;
    max-width: 11vw;
    min-height: 4vh;
    max-height: 4vh;
    font-size: $fontSize;
    color: white;
    padding: 0 1vw 0 1vw;
}

.validation {
    color: red;
}

.validation-error {
    margin: 1px 1px 1px 1px;
    color: red;
}

.validation-success {
    margin: 1px 1px 1px 1px;
    color: green;
}

.error-msg {
    font-size: $fontSize;
}

.select-file-container {
    display: flex;
    flex-direction: row;
    margin: 0 0 0 0;
}

.file-name-container {
    display: flex;
    flex-direction: row;
    margin: 1.5vh 0 0 19vh;
    min-height: 4vh;
}

.input {
    color: aquamarine;
}

.horizontal-line {
    background-color: white;
    min-height: 0.3vh;
    max-height: 0.3vh;
    margin: 2vh auto;
}

.model-button-container {
    display: flex;
    flex-direction: row-reverse;
    padding: 0.5vw;
}

.button-style {
    padding: 1vh 1.5vw 1vh 1.5vw;
    border-radius: 1vh;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    font-size: $fontSize;
}

.choose-file-button {
    background-color: #444444;
}

.create-btn {
    background-color: #169887;
}

.cancel-btn {
    background-color: #444444;
    margin-right: 0.7vw;
}

.choose-file-btn {
    font-size: $fontSize;
    text-decoration: none;
    background-color: #444444;
    color: white;
    padding: 0.5vh 1vw;
    border: none;
    border-radius: 1vh;
    margin-right: 1vw;
    cursor: pointer;
}

.label-file {
    padding-top: 0.5vh;
}

.input-id {
    font-size: $fontSize;
    display: none;
}

.filename {
    font-size: $fontSize;
    color: white;
    overflow: hidden;
    text-overflow: ellipsis;
}

.overlay {
    z-index: 3000;
    position: absolute;
    background-color: rgb(0, 0, 0, 0.9);
    width: 99.9vw;
    height: 99.7vh;
    cursor: not-allowed;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    font-size: 15px;
    text-decoration: underline;
    margin-top: 1vh;
}

.tooltiptitle {
    opacity: 30%;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 240px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -60px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

// .file-input {
//     color: transparent;
//     color: transparent;
//     min-height: 2vh;
//     max-height: 2vh;
//     min-width: 4vw;
//     max-width: 5vw;
// }

// .file-input::-webkit-file-upload-button {
//     visibility: hidden;
// }

// .file-input::before {
//     content: 'Choose File';
//     color: black;
//     display: block;
//     position: absolute;
//     background: white;
//     border-radius: 1vw;
//     padding: 0.2vw;
//     outline: none;
//     white-space: nowrap;
//     -webkit-user-select: none;
//     cursor: pointer;
//     text-shadow: 1px 1px #fff;
//     font-size: 1.5vh;
//     min-height: inherit;
//     max-height: inherit;
//     min-width: inherit;
//     max-width: inherit;
// }

// .file-input:hover::before {
//     border-color: black;
// }

// .file-input:active {
//     outline: 0;
// }

// .file-input:active::before {
//     background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
// }
