.upper-container {
    display: flex;
    margin-top: 5vh;
}

.header-container {
    margin-top: 7.3vh;
    margin-left: 5vw;
    font-size: 2.3vh;
}

.layout-container {
    display: flex;
    flex-direction: row;
}

.validation {
    margin-left: 1.5vw;
}

.container {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.model-content {
    background-color: #525353;
    margin: auto;
    padding: 1vw;
    border: solid;
    max-width: 30vw;
    min-width: 30vw;
    border-radius: 1vw;
    margin-top: 15vh;
    min-height: 25vh;
    max-height: 25vh;
    display: flex;
    flex-direction: column;
    margin-left: 34vw;
}

.model {
    position: fixed; /* Stay in place */
    z-index: 2; /*Sit on top*/
    padding-top: 10vh; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: transparent;
    scrollbar-width: none;
    position: fixed;
    background: rgba(0, 0, 0, 0.7);
}

.content-header {
    color: white;
    margin-left: 1.3vw;
    font-size: 3vh;
}

.new-project-container {
    display: flex;
    flex-direction: row;
    margin-left: 1.3vw;
    margin-top: 3vh;
}

.input-style {
    margin-left: 0.5vw;
    border-radius: 2vw;
    border: none;
    outline: none;
    background-color: #363636;
    min-width: 11vw;
    max-width: 11vw;
    min-height: 2.9vh;
    max-height: 2.9vh;
    padding-left: 1vw;
    padding-right: 1vw;
    font-size: 1.7vh;
    color: white;
}

.select-folder-container {
    display: flex;
    flex-direction: row;
    margin-left: 1.3vw;
    margin-top: 2vh;
}

.file-style {
    margin-left: 0.7vw;
    outline: none;
    color: white !important;
    font-size: 1.7vh;
}

.hr-style {
    margin-left: 1.3vw;
    margin-top: 18vh;
    position: absolute;
    max-width: 28.5vw;
    min-width: 28.5vw;
    min-height: 0vh;
    max-height: 0vh;
    background-color: white;
}

.model-button-container {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 20.5vh;
    margin-bottom: 2vh;
    /* padding-top: 5vh; */
    position: absolute;
    margin-left: 18vw;
}

.button-style {
    padding: 1vh;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    border-radius: 1vh;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    font-size: 1.7vh;
}

.cancel-btn {
    background-color: #444444;
    margin-right: 0.7vw;
}

.create-btn {
    background-color: #169887;
}

.label-color {
    color: white;
    font-size: 1.7vh;
}
