<!-- <div
  (mouseover)="mouseEventCapture($event)"
  (mouseleave)="mouseEventCapture($event)"
  (click)="emitParentUrl(_enabled, _urlPath)"
  [ngStyle]="hoverStyling(hover, _hoverLabel, _imgPath)"
  class="card-container"
>
  <div class="header-container">
    <img class="logo" [src]="_logoPath" [alt]="_logoAlt" />
    <ng-container *ngIf="hover">
      <span [ngClass]="_hoverLabel ? null : 'label-hidden'">
        {{ (_hoverLabel ? _hoverLabel : "Aired") | translate }}
      </span>
    </ng-container>
  </div>
  <div class="banner">
    <ng-content></ng-content>
  </div>
</div> -->

<div class="flex-container">
    <ng-container *ngFor="let field of _jsonSchema.fields; index as i">
        <div
            (mouseover)="mouseEventCapture($event, i)"
            (mouseleave)="mouseEventCapture($event, i)"
            (click)="emitParentUrl(field.enabled, field.urlPath)"
            [attr.data-index]="i"
            [ngStyle]="hoverStyling(i, hover, field.hoverLabel, field.imgPath)"
            class="card-container"
        >
            <div class="header-container">
                <img class="logo" [src]="field.logoPath" [alt]="field.logoAlt" />
                <ng-container *ngIf="hover">
                    <span [ngClass]="field.hoverLabel ? null : 'label-hidden'">
                        {{ conditionalHoverPlaceholder(i, field.hoverLabel) | translate }}
                    </span>
                </ng-container>
            </div>
            <div class="banner">
                <p>{{ field.title | translate }}</p>
            </div>
        </div>
    </ng-container>
    <div class="copyright-container">
        <div class="copyright-text">
            Copyright &copy; 2020-2021 classifai. All rights reserved.
            <br />
            Test
        </div>
    </div>
</div>
