<div class="flex-container">
    <ng-container *ngFor="let field of _jsonSchema.fields; index as i">
        <div
            (mouseover)="mouseEventCapture($event, i)"
            (mouseleave)="mouseEventCapture($event, i)"
            (click)="emitParentUrl(field.enabled, field.urlPath)"
            [attr.data-index]="i"
            [ngStyle]="hoverStyling(i, hover, field.hoverLabel, field.imgPath)"
            class="card-container"
        >
            <div class="header-container">
                <img class="logo" [src]="field.logoPath" [alt]="field.logoAlt" />
                <ng-container *ngIf="hover">
                    <span [ngClass]="field.hoverLabel ? null : 'label-hidden'">
                        {{ conditionalHoverPlaceholder(i, field.hoverLabel) | translate }}
                    </span>
                </ng-container>
            </div>
            <div class="banner">
                <p>{{ field.title | translate }}</p>
            </div>
        </div>
    </ng-container>
    <home-footer></home-footer>
</div>
