.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    overflow: hidden;
}

.card-container {
    display: table;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 74.5vh;
    width: 25vw;
    object-fit: contain;
    border: 0.01vh solid black;
}

.header-container {
    color: white;
    padding: 10vh;
    font-size: xxx-large;
    display: grid;
    justify-items: center;
    height: 58.7vh;
    line-height: 10vh;
    font-size: 2.5vh;
    text-align: center;
    white-space: nowrap; /* prevent new line */
}

.label-hidden {
    visibility: hidden;
}

.logo {
    position: relative;
    height: 15vh;
    margin-top: 10vh;
}

.banner {
    position: absolute;
    background: white;
    opacity: 0.9;
    width: inherit;

    display: flex;
    justify-content: center;
    bottom: 5vh; /* Prevent screen size resize */
    font-size: 2.5vh; /* Prevent screen size resize */
    height: 10vh;
    min-height: 10vh;
    line-height: 5vh;
}
