<div class="dataset-header-container">
    <label class="label">Dataset Management</label>

    <div class="dataset-icon-container">
        <img class="dataset-icon" src="../../../assets/classifai-image-labelling-layout/light-theme/list_view.png" />
        <img class="dataset-icon" src="../../../assets/classifai-image-labelling-layout/light-theme/starred.png" />
        <img class="dataset-icon" src="../../../assets/classifai-image-labelling-layout/light-theme/more.png" />
        <select class="dataset-select" #option (change)="onSelect(option.value)">
            <option *ngFor="let option of optionLists" [value]="option" [selected]="option">
                {{ option | titlecase }}
            </option>
        </select>
    </div>
</div>
