<div class="layout-container">
    <div>
        <!-- <page-header [_onChange]="onChangeSchema"></page-header> -->
        <page-header></page-header>
    </div>

    <div class="content-container">
        <video-labelling-left-sidebar></video-labelling-left-sidebar>
        <video-labelling-object-detection></video-labelling-object-detection>
        <video-labelling-right-sidebar (_onClick)="onToggleTab($event)"></video-labelling-right-sidebar>
        <video-labelling-project [_tabStatus]="tabStatus" (_onClose)="onToggleTab($event)"></video-labelling-project>
    </div>
</div>
