<ng-container *ngIf="_jsonSchema.isFetching; else showCardBody">
    <div class="card-layout-container scroll fade-in">
        <div class="no-project-card-container">
            <div class="no-project-title-padding">
                <label class="no-project-title">{{ 'datasetCard.fetchingProject' | translate }}</label>
            </div>
            <div>
                <label class="no-project-subtitle">{{ 'datasetCard.pleaseWait' | translate }}</label>
            </div>
        </div>
    </div>
</ng-container>

<ng-template #showCardBody>
    <ng-container *ngIf="_jsonSchema.projects.length > 0; else noProject">
        <div class="card-layout-container scroll fade-in">
            <ng-container *ngFor="let project of _jsonSchema.projects; index as i">
                <div
                    class="card-container"
                    [attr.data-index]="i"
                    (dblclick)="onOpenProject(i, project)"
                    [ngClass]="conditionalDisableProject(project)"
                >
                    <div class="card-header-style">
                        <div>
                            <ng-container *ngIf="isExactIndex(i) && _jsonSchema.isUploading; else newLabel">
                                <label class="project-status-uploading">
                                    {{ 'datasetCard.uploading' | translate }}
                                </label> </ng-container
                            ><ng-template #newLabel>
                                <ng-container [ngSwitch]="project">
                                    <ng-container *ngIf="project.is_new">
                                        <label class="project-status-new">{{ 'datasetCard.new' | translate }}</label>
                                    </ng-container>
                                    <ng-container *ngIf="!project.is_new && !project.is_loaded">
                                        <label class="project-status-available">{{
                                            'datasetCard.available' | translate
                                        }}</label>
                                    </ng-container>

                                    <ng-container *ngIf="!project.is_new && project.is_loaded">
                                        <label class="project-status-opened">{{
                                            'datasetCard.opened' | translate
                                        }}</label>
                                    </ng-container>
                                </ng-container></ng-template
                            >
                        </div>
                        <div class="card-icon-container" [ngClass]="conditionalDisableProject(project)">
                            <div
                                (click)="
                                    conditionalDisableClickEvent(project.is_loaded)
                                        ? null
                                        : onStarred(project, project.is_starred ? false : true)
                                "
                            >
                                <img
                                    class="card-icon-style"
                                    [src]="[project.is_starred ? starredActiveIcon : starredInactiveIcon]"
                                />
                            </div>

                            <div (click)="conditionalDisableClickEvent(project.is_loaded) ? null : onDisplayMore(i)">
                                <img class="card-icon-style" src="../../../assets/icons/more.svg" />
                            </div>
                            <ng-container *ngIf="isExactIndex(i)">
                                <span>
                                    <div class="popup-container">
                                        <div class="popup-label" (click)="onRenameProject(project.project_name)">
                                            {{ 'datasetCard.renameProject' | translate }}
                                        </div>
                                        <div class="popup-label" (click)="onDeleteProject(project.project_name)">
                                            {{ 'datasetCard.deleteProject' | translate }}
                                        </div>
                                    </div>
                                </span>
                            </ng-container>
                        </div>
                    </div>
                    <div class="card-title-style">
                        <label [title]="project.created_date"
                            ><div class="card-title-txt">
                                {{ 'datasetCard.created' | translate }} {{ project.created_date }}
                            </div></label
                        >
                    </div>
                    <div class="project-name-style">
                        <label [title]="project.project_name">
                            <div class="project-info">
                                {{ project.project_name }}
                            </div>
                        </label>
                    </div>

                    <div class="project-name-style">
                        <label [title]="'Total Photo: ' + project.total_uuid">
                            <div class="project-info">
                                {{ 'datasetCard.totalPhoto' | translate }} {{ project.total_uuid }}
                            </div>
                        </label>
                    </div>
                    <!-- <div class="tag-container">
          <img class="tag-img" src="../../../assets/icons/tag.svg" />
          <label class="tag-txt">Add tag</label>
      </div> -->
                </div>
            </ng-container>
        </div>
    </ng-container>

    <ng-template #noProject>
        <div class="card-layout-container scroll fade-in">
            <div class="no-project-card-container">
                <div class="no-project-title-padding">
                    <label class="no-project-title">{{ 'datasetCard.noProject' | translate }}</label>
                </div>
                <div>
                    <label class="no-project-subtitle">{{ 'datasetCard.createNew' | translate }}</label>
                </div>
            </div>
        </div>
    </ng-template>
</ng-template>

<!-- <div id="card-model" class="model" style="position: fixed; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.7)">
    <div class="model-content" id="model-content">
        <div class="close-modal">
            <label style="cursor: pointer" (click)="navigate({ enabled: false, isclick: false })">x</label>
        </div>
        <div class="upload-img" style="margin-bottom: 1vh">
            <label class="label">Local</label>
        </div>
        <div class="upload-img">
            <label class="label">Cloud</label>
        </div> -->
<!-- <div class="import-img-btn-container">
      <button class="img-btn-style" (click)="navigate({ enabled: false, isclick: false })">Close</button>
    </div> -->
<!-- </div>
</div> -->
