<div class="tab-container">
    <ng-container *ngFor="let tab of _tabStatus; index as i">
        <!-- <ng-container *ngIf="_thumbnailList.length > 0 && i === 0; else nonThumbnailTab"> -->
        <ng-container *ngIf="i === 0; else nonThumbnailTab">
            <div
                class="utility-right-project-container tab flex-fill-remaining flex-content"
                [ngClass]="checkCloseToggle(tab)"
                [attr.data-index]="i"
            >
                <label class="tab-name">{{ tab.name }}</label>
                <span class="tab-close-thumbnail"><div class="div-close" (click)="onClose(tab)">x</div></span>
                <section class="utility-inner-container scroll">
                    <ng-container *ngFor="let thumbnail of _thumbnailList; let idx = index; let even = even">
                        <div class="img-container" (click)="onClick(thumbnail)">
                            <div>
                                <img imgLazyLoad class="img" [src]="thumbnail.img_thumbnail" />
                            </div>
                            <div class="img-name">
                                <label>{{ thumbnail.img_path | fileNameSlice }} </label>
                            </div>
                        </div>
                    </ng-container>
                </section>
            </div>
        </ng-container>

        <ng-template #nonThumbnailTab>
            <ng-container *ngIf="i === 1; else annotationTab">
                <div
                    class="utility-right-project-container tab flex-fill-remaining flex-content"
                    [attr.data-index]="i"
                    [ngClass]="checkCloseToggle(tab)"
                >
                    <label class="tab-name">{{ tab.name }}</label>
                    <div class="flex-tab-icons">
                        <span class="tab-close-thumbnailless"
                            ><div class="div-close" (click)="onClose(tab)">x</div></span
                        >
                        <span class="tab-extra-icons"
                            ><div
                                class="extra-icons"
                                (click)="onDisplayInputModal(true); onIconClick({ tabType: 'label', action: 1 })"
                            >
                                +
                            </div>
                            <ng-container *ngIf="displayInputLabel">
                                <div class="label-input">
                                    <input
                                        class="input"
                                        [value]="inputLabel"
                                        (change)="onChangeInputLabel($event)"
                                        (keydown.enter)="validateInputLabel($event)"
                                    /></div
                            ></ng-container>
                        </span>
                        <span class="tab-extra-icons"
                            ><div
                                class="extra-icons"
                                (click)="onDisplayInputModal(false); onIconClick({ tabType: 'label', action: 0 })"
                            >
                                -
                            </div></span
                        >
                    </div>

                    <div class="utility-inner-container" id="inner-container">
                        <div class="flex-item">
                            <ng-container *ngFor="let label of tab.label_list; index as i">
                                <div
                                    class="flex-center-width"
                                    [ngClass]="label === selectedLabel ? 'label-active' : null"
                                >
                                    <label class="label">
                                        <div
                                            [ngClass]="clickAbilityToggle ? 'pointer' : null"
                                            (click)="clickAbilityToggle ? onClickLabel(label) : null"
                                        >
                                            {{ label }}
                                        </div>
                                    </label>
                                    <label class="action"
                                        ><ng-container *ngIf="!action && i > 0"
                                            ><span
                                                [ngClass]="clickAbilityToggle ? 'pointer' : null"
                                                (click)="onDeleteLabel(label)"
                                                >Delete</span
                                            ></ng-container
                                        ></label
                                    >
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </ng-container>
            <ng-template #annotationTab>
                <div
                    class="utility-right-project-container tab flex-fill-remaining"
                    [attr.data-index]="i"
                    [ngClass]="checkCloseToggle(tab)"
                >
                    <label class="tab-name">{{ tab.name }}</label>
                    <div class="flex-tab-icons">
                        <span class="tab-close-thumbnailless"
                            ><div class="div-close" (click)="onClose(tab)">x</div></span
                        >
                        <span class="tab-extra-icons"></span>
                        <span class="tab-extra-icons"><div class="extra-icons">-</div></span>
                    </div>
                    <div class="utility-inner-container" id="inner-container">
                        <div class="flex-item">
                            <div class="flex-center-width">
                                <ng-container *ngIf="tab?.annotation">
                                    <ng-container *ngFor="let annotation of tab.annotation">
                                        <ng-container *ngFor="let boundingBox of annotation.bnd_box; index as j">
                                            <label
                                                class="label"
                                                [attr.data-index]="j"
                                                [ngClass]="j === selectedIndexAnnotation ? 'annotation-active' : null"
                                                (click)="clickAbilityToggle ? onClickAnnotation(j, boundingBox) : null"
                                            >
                                                <div [ngClass]="clickAbilityToggle ? 'pointer' : null">
                                                    {{ boundingBox.label }} : {{ boundingBox.id }}
                                                </div>
                                            </label>
                                        </ng-container></ng-container
                                    >
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </ng-template>
    </ng-container>
</div>
