<div class="card-container">
  <div class="card-header-style">
    <div>
      <label class="project-status">Uploading</label>
    </div>
    <div>
      <img
        class="card-icon-style"
        src="../../../assets/classifai-image-labelling-layout/light-theme/starred.png"
      />
      <img
        class="card-icon-style"
        src="../../../assets/classifai-image-labelling-layout/light-theme/more.png"
      />
    </div>
  </div>
  <div class="card-title-style">
    <label class="card-title-txt">Created: Sep 7, 2020</label>
  </div>
  <div class="project-name-style">
    <label class="project-name"> Project Name </label>
  </div>
  <div class="tag-container">
    <img class="tag-img" src="../../../assets/classifai-image-labelling-layout/light-theme/label.png">
    <label class="tag-txt">Add tag</label>
  </div>
</div>
