@use '../../../shared/_variables.scss' as color;
@use '../../../shared/_scrollbar.scss' as *;

.card-layout-container {
    width: 80vw;
    display: flex;
    flex-wrap: wrap;
    padding: 0 0 0 1vw;
    overflow-y: scroll;
    position: relative;
    height: 80vh;
}

.card-layout-container::-webkit-scrollbar-track {
    @include scrollbar-track(color.$blackColor);
}

.card-layout-container::-webkit-scrollbar {
    @include scrollbar();
}

.card-layout-container::-webkit-scrollbar-thumb {
    @include scrollbar-thumb(color.$greyColor);
}

.card-container {
    min-width: 11vw;
    max-width: 11vw;
    min-height: 30vh;
    max-height: 30vh;
    border-style: solid;
    font-size: 2.2vh;
    // background: #404040;
    background: rgb(46, 45, 45);
    cursor: pointer;
    position: relative;
}

.card-container:hover {
    background: rgb(64, 64, 64);
}

.card-container::before {
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 0.3vw;
    background-color: rgb(54, 54, 54);
}

.project-status {
    color: whitesmoke;
    background-color: #f59221;
    font-size: 1.5vh;
    padding: 0.3vh 3.5vw 0.6vh 1vw;
}

.card-icon-style {
    min-width: 1.5vw;
    max-width: 1.5vw;
    min-height: 3vh;
    max-height: 3vh;
    cursor: pointer;
}

.card-header-style {
    margin-top: 1vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}

.card-title-style {
    margin-left: 1vw;
}

.card-title-txt {
    font-size: 1.3vh;
    color: #656667;
}

.project-name-style {
    margin-left: 1vw;
}

.project-name {
    color: #dbdbda;
    font-size: 2.5vh;
}

.tag-container {
    display: flex;
    flex-direction: row;
    border-radius: 10vw;
    background: #363636;
    width: 4.5vw;
    padding: 0.2vw 0.3vh;
    cursor: pointer;
    outline: none;
    border: none;
    margin: 0.8vh 0 0 1vw;
}

.tag-img {
    min-height: 2vh;
    max-height: 2vh;
    min-width: 1vw;
    max-width: 1vw;
    margin-left: 0.35vw;
}

.tag-txt {
    font-size: 1.2vh;
    color: white;
    padding: 0.2vh 0 0 0.3vw;
    cursor: pointer;
}

.model-content {
    background-color: #525353;
    margin: auto;
    padding: 1vw;
    border: solid;
    max-width: 30vw;
    min-width: 30vw;
    border-radius: 1vw;
    margin-top: 15vh;
    min-height: 25vh;
    max-height: 25vh;
    display: flex;
    flex-direction: column;
    margin-left: 34vw;
}

.model {
    position: fixed; /* Stay in place */
    z-index: 2; /*Sit on top*/
    padding-top: 10vh; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: transparent;
    scrollbar-width: none;
    position: fixed;
    background: rgba(0, 0, 0, 0.7);
}

.upload-img {
    border: solid;
    height: 11vh;
    cursor: pointer;
    border-radius: 1.5vh;
    display: flex;
    align-items: center;
    padding-left: 29vh;
}

.upload-img:hover {
    background-color: #2e2d2d;
}

.label {
    cursor: pointer;
}

.import-img-btn-container {
    display: flex;
}

.img-btn-style {
    cursor: pointer;
}

.close-modal {
    display: flex;
    justify-content: flex-end;
    margin-top: -2vh;
}
