.card-layout-container {
    width: 81vw;
    /* height: 80vh; */
    display: flex;
    flex-wrap: wrap;
    margin-top: 18vh;
    margin-left: -11vw;
    padding-right: 0.5vw;
    padding-bottom: 0.5vh;
}

.card-container {
    width: 11vw;
    height: 30vh;
    border-style: solid;
    font-size: 2.2vh;
    background: #404040;
    cursor: pointer;
}

.project-status {
    color: white;
    background-color: #f59221;
    padding-left: 1vw;
    padding-right: 1vw;
    font-size: 1.5vh;
    padding-top: 0.3vh;
    padding-bottom: 0.6vh;
}

.card-icon-style {
    min-width: 1.5vw;
    max-width: 1.5vw;
    min-height: 3vh;
    max-height: 3vh;
    cursor: pointer;
}

.card-header-style {
    margin-top: 1vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card-title-style {
    margin-top: -0.5vh;
    margin-left: 1vw;
}

.card-title-txt {
    font-size: 1.3vh;
    color: #656667;
}

.project-name-style {
    margin-left: 1vw;
}

.project-name {
    color: #dbdbda;
    font-size: 1.8vh;
}

.tag-container {
    display: flex;
    flex-direction: row;
    margin-top: 0.8vh;
    border-radius: 10vw;
    background: #363636;
    width: 4.5vw;
    padding: 0.2vw 0.3vh;
    margin-left: 1vw;
    cursor: pointer;
    outline: none;
    border: none;
}

.tag-img {
    min-height: 2vh;
    max-height: 2vh;
    min-width: 1vw;
    max-width: 1vw;
    margin-left: 0.35vw;
}

.tag-txt {
    font-size: 1.2vh;
    margin-left: 0.3vw;
    color: white;
    padding-top: 0.2vh;
    cursor: pointer;
}

.model-content {
    background-color: #525353;
    margin: auto;
    padding: 1vw;
    border: solid;
    max-width: 30vw;
    min-width: 30vw;
    border-radius: 1vw;
    margin-top: 15vh;
    min-height: 25vh;
    max-height: 25vh;
    display: flex;
    flex-direction: column;
    margin-left: 34vw;
}

.model {
    position: fixed; /* Stay in place */
    z-index: 2; /*Sit on top*/
    padding-top: 10vh; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: transparent;
    scrollbar-width: none;
    position: fixed;
    background: rgba(0, 0, 0, 0.7);
}

.upload-img {
    border: solid;
    height: 11vh;
    cursor: pointer;
    border-radius: 1.5vh;
    display: flex;
    align-items: center;
    padding-left: 29vh;
}

.upload-img:hover {
    background-color: #2e2d2d;
}

.label {
    cursor: pointer;
}

.import-img-btn-container {
    display: flex;
}

.img-btn-style {
    cursor: pointer;
}

.close-modal {
    display: flex;
    justify-content: flex-end;
    margin-top: -2vh;
}
