@use "../../../shared/scss/variables" as color;

.videoTimelineContainer {
    //position: relative;
    // background: #121212;
    // width: 130vh;

    // display: flex;
    // flex-flow: column;
    height: 100%;
    right: 0;
    //position: fixed;
    z-index: 1000;
    width: 97.8%;
    // min-width: 95.5vw;
    // max-width: 95.5vw;
    padding-top: 2px;
    padding-right: 60px;
    //padding-bottom: 50px;
    padding-left: 2.2vw;
}

.canvas-container {
    height: 54vh;
}

.active-frame-container {
    padding: 38px;
    display: flex;
    justify-content: center;
}

.videoTimeline {
    display: flex;
    text-align: center;
    font-size: 12px;
    height: 100%;
    overflow: hidden;
    background-color: (color.$greyColor);
}

.video-tbody {
    display: block;
    overflow: auto;
    height: 300px;
    width: 100%;
}

.activeFrame {
    width: 960px;
    height: 480px;
}

.timelineCell {
    border-radius: 4px;
    display: inline-block;
    width: 28px;
    height: 20px;
    box-sizing: border-box;
    border: 1px solid #121212;
    line-height: 20px;
    font-size: 11px;
    color: #1f2428;
    position: relative;
}

.clickable {
    cursor: pointer;
}

.clickable:hover {
    background-color: #293540;
}

.figure1 {
    background: blue;
    border-width: 0;
}

.figure2 {
    background: green;
    border-width: 0;
}

.cursor {
    border: 2px solid red;
}

.table {
    width: 100%;
    table-layout: fixed;
}

.active {
    font-size: 12px;
    font-weight: bold;
    color: red;
    background: #121212;
}

.row {
    width: 28px;
    padding: 0;
    text-align: center;
    margin-bottom: 4px;
}

.tableTiming {
    font-size: 10px;
    vertical-align: middle;
    color: snow;
    height: 28px;
    width: 28px;
}

.control-layout {
    background-color: (color.$greyColor);
}

.control-container {
    padding: 0.7vh 1vw 0 0.5vw;
    background-color: (color.$greyColor);
    border-bottom: 1px solid black;
    height: 5vh;
    width: 9.6vw;
    display: flex;
}

.control-icon-container {
    //border: 3px solid black;
    padding: 0 0.4vw 0;
    // width: 1vw;
}

.control-icon {
    padding-top: 0.5vh;
    height: 70%;
}

.time-container {
    //border: 3px solid green;
    padding-right: 1vw;
}

.time-label {
    font-size: 1.7vw;
    color: #768dff;
}

.label-display {
    width: 7.5vw;
    color: white;
    text-align: left;
}

.eye-display {
    width: 50px;
    color: white;
    border-right: 2px black solid;
    padding-right: 1vh;
}

.canvasstyle {
    position: fixed;
    left: 2.2vw;
    right: auto;
    top: 8vh;
    overflow: scroll;
    scrollbar-width: none;
    margin: 0px;
    padding: 0px;
    outline: none;
    border: none;
}

/*-------------------------------------------*\
    Label List Popup Container
\*-------------------------------------------*/

.floatdiv {
    position: absolute;
    z-index: 10000;
}

/*-------------------------------------------*\
    Label Search/ OCR Input
\*-------------------------------------------*/

.lbltypetxt {
    width: 11vw;
    height: 4vh;
    color: snow;
    font-size: 2vh;
    border: 0.2vw solid gray;
    background-color: black;
    outline: none;
    border-radius: 0.2vh;
    border-bottom: none;
    padding: 0;
    text-indent: 0.4vw;
}

.invalidInput {
    border: 0.2vw solid red;
}

.validInput {
    border: 0.2vw solid grey;
}

/*-------------------------------------------*\
    Label List
\*-------------------------------------------*/

.availablelbl {
    background-color: black;
    width: 11vw;
    height: 15vh;
    color: snow;
    font-size: 2vh;
    font-weight: bold;
    border: 0.2vw solid gray;
    outline: none;
    border-radius: 0.2vh;
    border-top: 0.1vh dotted snow;
    overflow: auto;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }
}

.lblList {
    padding: 0 0.2vw;
}

.lblElement {
    list-style-type: none;
    margin: 0.3vh 0;
    padding: 0;
    justify-content: space-between;
    display: flex;
    &:hover {
        background-color: #111;
    }
}

.lblName {
    margin-left: 0.2vw;
    overflow: hidden;
    text-overflow: ellipsis;
}

.lblCount {
    background-color: #222;
    margin-right: 0.2vw;
    padding: 0.1vh 0.2vw;
    border-radius: 0.2vw;
}

.notExist {
    color: #999;
    font-size: 1.5vh;
}
