<div class="header-container">
    <div class="container-flex-start">
        <div class="logo-container">
            <!-- <img [src]="logoSrc" class="logo position-absolute" alt="logo" title="Classifai" /> -->
        </div>
        <ng-container *ngFor="let label of headerLabels; let last = last"
            ><div *ngIf="!label.disable">
                <a class="link" [routerLink]="label.url">
                    <div
                        class="btn-container"
                        [ngClass]="{ 'last-btn-container': last }"
                        routerLinkActive="active-link"
                        [routerLinkActiveOptions]="{ exact: true }"
                    >
                        <label class="label">{{ label.name | translate }}</label>
                    </div></a
                >
            </div>
            <div *ngIf="label.disable">
                <a class="link">
                    <div
                        class="btn-container"
                        style="cursor: not-allowed"
                        [ngClass]="{ 'last-btn-container': last }"
                        routerLinkActive="active-link"
                        [routerLinkActiveOptions]="{ exact: true }"
                    >
                        <label class="label" style="cursor: not-allowed">{{ label.name | translate }}</label>
                    </div></a
                >
            </div>
        </ng-container>
    </div>
    <div class="container-flex-end">
        <ng-container *ngFor="let logo of jsonSchema.logos; index as i">
            <div class="utility-icon-container">
                <img
                    class="img utility-icon-light"
                    [attr.data-index]="i"
                    [src]="logo.imgPath"
                    [alt]="logo.alt"
                    [title]="logo.hoverLabel | translate"
                />
            </div>
        </ng-container>
    </div>
</div>
