p {
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    color: black;
}

h1 {
    margin-top: 15%;
    font-weight: bold;
    font-size: 6em;
    text-align: center;
    color: black;
}
