<div class="layout-container">
    <div>
        <!-- <image-labelling-header
            [_onChange]="onChangeSchema"
            (_navigate)="navigateByUrl($event)"
        ></image-labelling-header> -->
        <page-header [_onChange]="onChangeSchema"></page-header>
        <image-labelling-info [_onChange]="onChangeSchema" (_onClick)="navigateByAction($event)"></image-labelling-info>
    </div>

    <div class="content-container">
        <image-labelling-left-sidebar [_onChange]="onChangeSchema"></image-labelling-left-sidebar>
        <image-labelling-object-detection
            [_selectMetadata]="selectedMetaData"
            [_imgSrc]="imgSrc"
        ></image-labelling-object-detection>
        <!-- <image-labelling-image [_thumbnail]="selectedThumbnail"></image-labelling-image> -->

        <image-labelling-project
            [_thumbnailList]="thumbnailList"
            [_tabStatus]="tabStatus"
            (_onClose)="onToggleTab($event)"
            (_onClickThumbNail)="showBase64Image($event)"
            (_onClickLabel)="onProcessLabel($event)"
            (_onEnterLabel)="onProcessLabel($event)"
        ></image-labelling-project>
        <image-labelling-right-sidebar
            [_onChange]="onChangeSchema"
            (_onClick)="onToggleTab($event)"
        ></image-labelling-right-sidebar>
    </div>
    <image-labelling-footer [_thumbnailInfo]="selectedMetaData" [_imgSrc]="imgSrc"></image-labelling-footer>
</div>
