<div class="layout-container">
    <div>
        <page-header [_onChange]="onChangeSchema"></page-header>
        <image-labelling-info [_onChange]="onChangeSchema" (_onClick)="navigateByAction($event)"></image-labelling-info>
    </div>

    <div class="content-container">
        <image-labelling-left-sidebar
            [_onChange]="onChangeSchema"
            [_currentUrl]="currentUrl"
            [_tabStatus]="tabStatus"
        ></image-labelling-left-sidebar>

        <ng-container *ngIf="_router.url.includes('imglabel/bndbox')">
            <image-labelling-object-detection
                [_selectMetadata]="selectedMetaData"
                [_imgSrc]="imgSrc"
                [_tabStatus]="tabStatus"
                (_onChangeMetadata)="onChangeMetadata($event)"
                (_onChangeAnnotationLabel)="onChangeAnnotationLabel($event)"
                (_onEnterLabel)="onProcessLabel($event)"
            ></image-labelling-object-detection>
        </ng-container>
        <ng-container *ngIf="_router.url.includes('imglabel/seg')">
            <image-labelling-segmentation
                [_selectMetadata]="selectedMetaData"
                [_imgSrc]="imgSrc"
                (_onChangeMetadata)="onChangeMetadata($event)"
            ></image-labelling-segmentation>
        </ng-container>

        <image-labelling-project
            [_thumbnailList]="thumbnailList"
            [_tabStatus]="tabStatus"
            (_onClose)="onToggleTab($event)"
            (_onClickThumbnail)="displayImage($event)"
            (_onClickLabel)="onProcessLabel($event)"
            (_onEnterLabel)="onProcessLabel($event)"
            (_onChangeAnnotationLabel)="onChangeAnnotationLabel($event)"
            (_onDeleteAnnotation)="onDeleteAnnotation($event)"
        ></image-labelling-project>
        <image-labelling-right-sidebar
            [_onChange]="onChangeSchema"
            (_onClick)="onToggleTab($event)"
            (_onExport)="onExport()"
            (_onReload)="onReload()"
        ></image-labelling-right-sidebar>
    </div>
    <image-labelling-footer [_thumbnailInfo]="selectedMetaData" [_imgSrc]="imgSrc"></image-labelling-footer>
</div>

<modal id="modal-image-labelling">
    <button class="modal-button float-right" (click)="onCloseModal()">X</button>
    <div>
        <h2 class="font-title">{{ 'labellingArea.mainLabel' | translate }}</h2>
        <div class="main-label-container">
            <label class="font-label">{{ 'labellingArea.label' | translate }}: </label>
            <select class="static-select">
                <ng-container *ngFor="let tab of tabStatus">
                    <ng-container *ngFor="let label of tab.label_list">
                        <option [value]="label" [selected]="label === currentAnnotationLabel">
                            {{ label }}
                        </option>
                    </ng-container>
                </ng-container>
            </select>
            <label class="font-label">{{ 'labellingArea.regionInfo' | translate }}: </label>
            <input
                class="static-input"
                type="text"
                [value]="mainLabelRegionVal"
                [placeholder]="'labellingArea.mainRegionInfo' | translate"
                (change)="onChangeInput($event, 'main')"
            />
        </div>
    </div>
    <hr class="hr-line" />
    <div>
        <h2 class="font-title">{{ 'labellingArea.subLabel' | translate }}</h2>
        <div class="sub-label-container">
            <label class="font-label">{{ 'labellingArea.label' | translate }}: </label>
            <select class="static-select" #subLabelSelect>
                <ng-container *ngFor="let tab of tabStatus">
                    <ng-container *ngFor="let label of tab.label_list">
                        <option [value]="label" [selected]="tab.label_list[0].label">
                            {{ label }}
                        </option>
                    </ng-container>
                </ng-container>
            </select>
            <label class="font-label">{{ 'labellingArea.regionInfo' | translate }}: </label>
            <input
                class="static-input"
                type="text"
                [value]="subLabelRegionVal"
                [placeholder]="'labellingArea.subRegionInfo' | translate"
                (change)="onChangeInput($event, 'sub')"
            />
            <button class="modal-button" (click)="onSubmitLabel()">{{ 'labellingArea.add' | translate }}</button>
        </div>
        <ng-container *ngIf="subLabelValidateMsg">
            <div class="validate-msg">
                {{ subLabelValidateMsg }}
            </div>
        </ng-container>
    </div>
    <hr class="hr-line" />

    <ng-container *ngFor="let tab of tabStatus">
        <ng-container *ngFor="let annotation of tab.annotation">
            <ng-container *ngFor="let bb of annotation?.bnd_box; index as annotationIndex">
                <ng-container *ngIf="bb?.subLabel?.length > 0 && annotationIndex === currentAnnotationIndex">
                    <h2 class="font-title">{{ 'labellingArea.addedSubLabel' | translate }}</h2>
                    <ng-container *ngFor="let sublabel of bb.subLabel; index as subLabelIndex">
                        <div class="sub-label-flex-container sub-label-padding">
                            <label class="font-label flex-first"
                                >{{ 'labellingArea.label' | translate }}: {{ sublabel.label }}</label
                            >

                            <label class="font-label flex-second"
                                >{{ 'labellingArea.regionInfo' | translate }}: {{ sublabel.region }}</label
                            >
                            <span class="flex-third"></span>
                            <button
                                class="modal-butto flex-fourth"
                                (click)="onRemoveSubLabel(annotationIndex, subLabelIndex)"
                            >
                                X
                            </button>
                        </div>
                    </ng-container>
                </ng-container>
            </ng-container>
        </ng-container>
    </ng-container>
</modal>

<div [hidden]="!displayExportModal">
    <div class="modal">
        <div class="modal-content">
            <div class="modal-content-container">
                <h1 class="modal-content-header">
                    {{ 'exportModal.exportOptions' | translate }}
                </h1>
                <div class="modal-button-container">
                    <button class="button-style confg-btn" (click)="exportProject('cfg')">
                        {{ 'exportModal.configFile' | translate }}
                    </button>
                    <button class="button-style confgdata-btn" (click)="exportProject('cfgdata')">
                        {{ 'exportModal.zipFile' | translate }}
                        <br /><span class="with-data">{{ 'exportModal.withData' | translate }}</span>
                    </button>
                </div>
                <div class="modal-button-cancel">
                    <button class="button-style cancel-btn" (click)="cancelExportProject()">
                        {{ 'exportModal.cancel' | translate }}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<spinner [_loading]="isLoading"></spinner>
