<div class="footer-container">
    <ng-container *ngIf="(_thumbnailInfo | json) != '{}'">
        <div class="footer-label-container">
            <div class="footer-label">Size: {{ thumbnailSize }}</div>
            <ng-container *ngIf="thumbnailType">
                <div class="footer-label">Image: {{ thumbnailType }}</div></ng-container
            >
            <div class="footer-label">Dimension: {{ _thumbnailInfo.img_ori_w }} x {{ _thumbnailInfo.img_ori_h }}</div>
            <!-- <label class="footer-label">{{ _thumbnailInfo.file_size }} -->
        </div></ng-container
    >
</div>
