.footer-container {
    position: absolute;
    background: #525353;
    outline: 0.0625vw inset white;
    border: none;
    min-height: 2vh;
    max-height: 2vh;
    min-width: 100vw;
    max-width: 100vw;
    bottom: 0;
}
