<div class="videoTimelineContainer" (wheel)="onScroll($event)">
    <div class="videoTimeline" #videoTimelineRef>
        <table class="table">
            <tbody>
                <tr *ngFor="let item of labelledFrame; index as idx">
                    <ng-container *ngFor="let frame of totalFrameArr; index as i">
                        <td class="tableTiming">
                            <div *ngIf="idx == 0" [ngClass]="activeFrame === i ? 'active row' : null">
                                {{ i }}
                            </div>
                            <div
                                [ngClass]="displayFrameIndicator(i, item.frame)"
                                (click)="onClickVideoTImeline(i, item.object)"
                            ></div>
                        </td>
                    </ng-container>
                </tr>
            </tbody>
        </table>
    </div>
</div>
