.videoTimelineContainer {
    position: relative;
    background: #121212;
}

.videoTimeline {
    display: flex;
    text-align: center;
    font-size: 12px;
    height: 100px;
    overflow: hidden;
}

.timelineCell {
    border-radius: 4px;
    display: inline-block;
    width: 28px;
    height: 20px;
    box-sizing: border-box;
    border: 1px solid #121212;
    line-height: 20px;
    font-size: 11px;
    color: #1f2428;
    position: relative;
}

.clickable {
    cursor: pointer;
}

.clickable:hover {
    background-color: #293540;
}

.figure {
    background: #334554;
    border-width: 0;
}

.cursor {
    border: 2px solid #076aff;
}

.table {
    width: 100%;
    table-layout: fixed;
}

.active {
    font-size: 12px;
    font-weight: bold;
    color: #076aff;
    background: #121212;
}

.row {
    width: 28px;
    padding: 0;
    text-align: center;
    margin-bottom: 4px;
}

.tableTiming {
    font-size: 10px;
    vertical-align: middle;
    color: #9fb0bd;
    height: 28px;
    width: 28px;
}
