<div class="videoTimelineContainer">
    <div *ngIf="activePreview !== undefined">
        <img class="activeFrame" src="{{ activePreview }}" />
    </div>
    <div class="videoTimeline" id="videoTimeline" (wheel)="onScroll($event)" #videoTimelineRef>
        <table class="table">
            <tbody class="video-tbody">
                <tr *ngFor="let item of labelledFrame; index as idx">
                    <td style="width: 50px; color: white">
                        <p>{{ item.object }}</p>
                    </td>
                    <ng-container *ngFor="let frame of totalFrameArr; index as i">
                        <td class="tableTiming">
                            <div *ngIf="idx == 0" [ngClass]="activeFrame === i ? 'active row' : null">
                                {{ i }}
                            </div>
                            <div
                                [ngClass]="displayFrameIndicator(i, item.frame)"
                                (click)="onClickVideoTImeline(i)"
                            ></div>
                        </td>
                    </ng-container>
                </tr>
            </tbody>
        </table>
    </div>
</div>
