<div class="videoTimelineContainer" (wheel)="onScroll($event)">
    <div class="videoTimeline" #videoTimelineRef>
        <table class="table">
            <tbody>
                <tr>
                    <ng-container *ngFor="let space of occupiedSpace">
                        <td class="tableTiming"></td>
                    </ng-container>

                    <ng-container *ngFor="let frame of totalFrameArr; index as i">
                        <td class="tableTiming">
                            <div [ngClass]="activeFrame === i ? 'active row' : null">
                                {{ i }}
                            </div>
                            <div [ngClass]="displayFrameIndicator(i)" (click)="onClickVideoTImeline(i)"></div>
                        </td>
                    </ng-container>
                </tr>
            </tbody>
        </table>
    </div>
</div>
