<div #containerRef style="width: 25vw; height: 45vh">
    <ngx-charts-bar-horizontal
        [view]="[containerRef.offsetWidth, containerRef.offsetHeight]"
        [scheme]="colorScheme"
        [results]="chartData"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [legend]="showLegend"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        [legendPosition]="legendPosition"
        [xAxisTickFormatting]="axisFormat"
    >
    </ngx-charts-bar-horizontal>
</div>
