<div class="dataset-sidemenu-container">
    <ng-container *ngFor="let menu of menuSchema; index as i">
        <ng-container *ngIf="i === 0; else otherMenu">
            <div [attr.data-index]="i" class="new-project-container">
                <div class="new-project-btn" (click)="displayModal()">
                    <img class="add-icon" [src]="menu.src" />
                    <label class="new-project-txt">{{ menu.name | translate }}</label>
                </div>
            </div>
        </ng-container>

        <ng-template #otherMenu>
            <!-- <div class="current-project-container"> -->
            <div [attr.data-index]="i" class="current-project-btn">
                <img class="project-icon" [src]="menu.src" />
                <label class="current-project-txt">{{ menu.name | translate }}</label>
            </div>
            <!-- </div> -->
        </ng-template>
    </ng-container>
</div>

<div class="horizontal-line"></div>
