.copyright-container {
    position: absolute;
    bottom: 1vh;
    left: 50%;
    transform: translate(-50%, -50%);
}

.copyright-text {
    opacity: 0.5;
    text-align: center;
    color: white;
    font-size: 1vh;
}
