.footer-container {
    background: #262a2e;
    height: 21vh;
}

.copyright-text {
    display: flex;
    justify-content: center;
    align-items: center;
    color: snow;
    text-align: center;
    padding: 15px;
}
