.footer-container {
    background: #262a2e;
    //height: 5vh;
}

.copyright-text {
    display: flex;
    justify-content: center;
    align-items: center;
    color: snow;
    text-align: center;
    font-size: 10px;
}
