<div class="utility-left-sidebar-container">
    <!-- <div class="utility-inner-container"> -->
    <ng-container *ngFor="let logo of jsonSchema.logos; index as i">
        <div class="utility-icon-container">
            <ng-container *ngIf="logo">
                <img
                    (click)="getIndex(i); logo.onClick()"
                    [ngClass]="conditionalIconTheme()"
                    [ngStyle]="logo?.toggleable && conditionalActiveIcon(i)"
                    [attr.data-index]="i"
                    [src]="logo.imgPath"
                    [alt]="logo.alt"
                    [title]="logo.hoverLabel"
                />
            </ng-container>
        </div>
    </ng-container>
    <!-- </div> -->
</div>
