.utility-left-sidebar-container {
    position: absolute;
    top: 4.6vh;
    min-width: 2.14vw;
    max-width: 2.14vw;
    min-height: 95.4vh;
    max-height: 95.4vh;
    background: #525353;
    outline: 0.0625vw inset white;
    border: none;
    z-index: 1000;
}

.utility-icon-container {
    min-height: 5vh;
    max-height: 5vh;
    align-items: baseline;
}

@mixin icon-styling() {
    min-width: 1.52vw;
    max-width: 1.52vw;
    min-height: 3vh;
    max-height: 3vh;
    padding: 0.3vw;
    position: absolute;
}

.utility-icon-light-theme {
    @include icon-styling();
    cursor: pointer;
}

.utility-icon-light-theme:focus,
.utility-icon-light-theme:active,
.utility-icon-light-theme-active {
    background: darkgray;
}

.plain-icon {
    @include icon-styling();
}

// .utility-icon-dark-theme:focus,
// .utility-icon-dark-theme:active,
// .utility-icon-dark-theme-active {
//     background: rgb(59 59 59);
// }
