<div class="header-container">
  <div class="container-flex-start">
    <div class="logo-container">
      <img
        [src]="logoSrc"
        class="logo position-absolute"
        alt="logo"
        title="Classifai"
      />
    </div>
    <div class="btn-container">
      <button class="btn" (click)="emitParentUrl('/')">Home</button>
    </div>
    <div class="btn-container">
      <button class="btn" (click)="emitParentUrl('/dataset')">Dataset Management</button>
    </div>
    <div class="btn-container">
      <button class="btn">Annotation</button>
    </div>
    <div class="btn-container">
      <button class="btn">Revision</button>
    </div>
  </div>
  <div class="container-flex-end">
    <ng-container *ngFor="let logo of jsonSchema.logos; index as i">
      <div class="utility-icon-container">
        <img
          style="margin-left: 4.2vw"
          [ngClass]="conditionalIconTheme()"
          [attr.data-index]="i"
          [src]="logo.imgPath"
          [alt]="logo.alt"
          [title]="logo.hoverLabel"
        />
      </div>
    </ng-container>
  </div>
</div>
