/* You can add global styles to this file, and also import other style files */
@import 'ag-grid-community/dist/styles/ag-grid.css';
@import 'ag-grid-community/dist/styles/ag-theme-alpine.css';
* {
    font-family: arial;
    font-weight: 100;
}

html {
    overflow: hidden;
}

body {
    margin: 0;
    scrollbar-width: none;
    background: black;
}

/** @select - applies to all select element in this app */
select:active,
select:focus {
    border: none;
    outline: none;
}

select {
    border: none;
}
