<div class="header-container">
    <div class="container-flex-start">
        <ng-container *ngIf="_onChange.thumbnailName; else defaultName">
            <div [ngClass]="_onChange.hasAnnotation ? 'indicator' : 'no-indicator'"></div>
            <label class="imageTitle">{{ _onChange.thumbnailName | fileNameSlice }}</label>
        </ng-container>
        <ng-template #defaultName>
            <label class="imageTitle"></label>
        </ng-template>
    </div>
    <div [ngClass]="isTabStillOpen ? 'container-flex-center' : 'container-flex-center-adjust'">
        <ng-container *ngFor="let logo of jsonSchema.logosCenter; index as i">
            <ng-container *ngIf="i === 0; else renderOtherIcons">
                <div class="utility-icon-container">
                    <img
                        class="utility-icon-light"
                        [attr.data-index]="i + logo.alt"
                        [src]="logo.imgPath"
                        [alt]="logo.alt"
                        [title]="logo.hoverLabel | translate"
                        (click)="logo.onClick()"
                    />
                </div>
                <div class="totalThumbnail">
                    <ng-container *ngIf="_onChange && _onChange.totalNumThumbnail">
                        <label>{{ _onChange.currentThumbnailIndex || 0 }} / {{ _totalUuid }}</label>
                    </ng-container>
                </div>
            </ng-container>
            <ng-template #renderOtherIcons>
                <div class="utility-icon-container">
                    <img
                        class="utility-icon-light"
                        [attr.data-index]="i + logo.alt"
                        [src]="logo.imgPath"
                        [alt]="logo.alt"
                        [title]="logo.hoverLabel | translate"
                        (click)="logo.onClick()"
                    />
                </div>
            </ng-template>
        </ng-container>
    </div>
    <div [ngClass]="isTabStillOpen ? 'container-flex-end' : 'container-flex-end-adjust'">
        <ng-container *ngFor="let logo of jsonSchema.logosEnd; index as i">
            <div class="utility-icon-container">
                <img
                    class="utility-icon-light"
                    [attr.data-index]="i + logo.alt"
                    [src]="logo.imgPath"
                    [alt]="logo.alt"
                    [title]="logo.hoverLabel | translate"
                    (click)="logo.onClick()"
                />
            </div>
        </ng-container>
    </div>
</div>
